*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: black;
}

.page-header {
    margin-top: 0.5em;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}